<h4 class="row"><%= link_to task.name, task %></h4>
<div class><%= task.description %></div>
<div>
  <% if current_user == task.user %>
    <p id= "task_completion">
      <%= render "task_completion_button", task: task %>
    </p>
  <% end %>
</div>
