<div class="small-6 columns">
  <h2 class="subheader">Incomplete Tasks</h2>
    <div>
      <% if current_user == @user %>
        <%= link_to "Add Task", [:new, @user, :task], id: "new_link", remote: true, class: "button expand radius" %>
      <% end %>
    </div>
    <% @distinct_due_dates.each do |due_date| %>
      <div class="subheader">
        <%= pretty_due_date(due_date) %>
      </div>
        <% @tasks.each do |task| %>
          <% if task.due_date == due_date && task.uncomplete? %>
            <div class="panel"><%= render "tasks/uncompleted_task", task: task %></div>
          <% end %>
        <% end %>
    <% end %>
</div>
<div class="small-6 columns">
  <h2 class="subheader">Complete Tasks</h2>
    <p>
      <% @tasks.each do |task| %>
        <% if task.complete? %>
          <div class="panel radius"><%= render "tasks/completed_task", task: task %></div>
        <% end %>
      <% end %>
    </p>
  </div>
</div>
