<div class="row" id="logo">
  <div class="large-8 columns">
    <%= image_tag("logo.png") %>
  </div>
</div>
<p>
  <strong>completeMe</strong> is a task-tracking application that rewards you for rewarding yourself. Receive points for your actions, interact with your friends, and know that you're doing yourself a service by keeping better track of your life. 
</p>
<div>
  <%= link_to "Get Started", sign_up_path, class: "button" %>
</div>
